* {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #000000;
    overflow-y: hidden;
}

.large-pad {
    padding-left: 5%;
    padding-right: 5%;
}

.pad-top-small {
    padding-top: 30px;
}

.pad-bottom-small {
    padding-bottom: 30px;
}

.pad-top {
    padding-top: 60px;
}

.pad-bottom {
    padding-bottom: 60px;
}

.margin-top {
    margin-top: 60px;
}

.margin-bottom {
    margin-bottom: 60px;
}

@media (max-width:1386px) {
    .large-pad {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width:1199px) {
    .large-pad {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width:767px) {
    .large-pad {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width:575px) {
    .pad-top {
        padding-top: 30px;
    }
    
    .pad-bottom {
        padding-bottom: 30px;
    }

    .margin-top {
        margin-top: 30px;
    }
    
    .margin-bottom {
        margin-bottom: 30px;
    }
}

body {
    background-color: #5D9F23;
    background-image: url("assets/pattern_2.png");
    background-position: center;
    background-repeat: repeat;
}

.content-wrapper {
    height: 100vh;
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
}

.content-wrapper .container-fluid .row {
    height: 100%;
}

#marb-logo {
    max-width: 200px;
    height: auto;
    position: relative;
    z-index: 99;
}

.nav-ul {
    display: block;
}

.nav-ul a {
    font-size: 40px;
    color: black;
    font-weight: 800;
    line-height: 45px;
}

.nav-li::before {
    content: url("assets/arrow_icon.png");
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: -300px;
    display: none;
    transition: all 0.5 ease;
}

.nav-li:hover:before {
    display: block;
}

.nav-li:hover a {
    color: white;
    text-decoration: none;
}

#menu {
    position: relative;
    z-index: 99;
}

#social {
    height: 100%;
    padding-top: 15px;
    position: relative;
    z-index: 99;
}

#social hr {
    width: 50px;
    height: 1px;
    background-color: #000000;  
}

#social a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

#nav-logo-social, #menu {
    pointer-events: none;
}

#marb-logo, .social-link, .nav-a {
    pointer-events: all;
}

#social a:hover {
    text-decoration: none;
    color: white;
}

#ball {
    position: absolute;
    bottom: -60px;
    left: -40px;  
}

#ball img.animation-bounce {
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);  
}

#ball-img.animation-run {
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@keyframes run {
    0%   { 
        transform: scale(1,1);
        bottom: -60px;
        left: -40px; 
    }
    12%  { 
        transform: scale(1.05,.85);
        bottom: 80vh;
        left: 40vw; 
    }
    24% { 
        transform: scale(1.1);
        bottom: -60px;
        left: 80vw;
    }
    36% { 
        transform: scale(1.05,.85);
        bottom: 80vh;
        left: calc(100vw - 400px);
    }
    48% { 
        transform: scale(1.1);
        bottom: -60px;
        left: 90vw;
    }
    60% {
        transform: scale(1.05,.85); 
        bottom: 80vh;
        left: 60vw;
    }
    72% { 
        transform: scale(1.1);
        bottom: -60px;
        left: 50vw;
    }
    84%  { 
        transform: scale(1.05,.85);
        bottom: 80vh;
        left: 25vw;
    }
    100%   { 
        transform: scale(1,1);
        bottom: -60px;
        left: -40px;
    }
}

#hello h1, #hello h2, #hello h2 span {
    font-size: 4vw;
    font-weight: 800;
    color: black;
}

#hello h2 span {
    color: white;
    display: inline-block;
    pointer-events: all;
}

#hello h2 span:hover {
    cursor: url("assets/icon_love.png"), auto;
}

#hello {
    position: absolute;
    top: 300px;
    left: 0;
    pointer-events: none;
}

#ball-img:hover {
    cursor: url("assets/click_arrow.png"), auto;
}

@media (max-width: 991px) {
    .row.nav-wrapper {
        height: 100vh;
    }
    ul.navbar-nav {
        align-items: right;
    }
    .nav-item {
        text-align: right;
    }
    .nav-link {
        padding-right: 0;
    }
    #ball img {
        width: 300px;
        height: auto;
    }
    #hello {
        top: 45px;
    }
    #hello h1, #hello h2, #hello h2 span {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    #hello {
        display: none;
    }
}

@media (min-width: 991px) {
    #social {
        height: 100%;
        padding-top: 5px;
        margin-left: 5vw;
    }
}

@media (min-width: 1199px) {
    .nav-li::before {
        content: url("assets/arrow_icon_short.png");
        left: -150px;
    }
}

@media (min-width: 1500px) {
    #social {
        margin-left: 15vw;
    }
}

@media (min-width: 1700px) {
    .nav-li::before {
        content: url("assets/arrow_icon.png");
        left: -300px;
    }
}



